@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

p,
span {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 0 16px;
}

.product-detail {
    display: flex;
    flex-direction: row;
    max-width: 1600px !important;
    width: 100%;
    background-color: white;
    overflow: hidden;
    margin-top: 80px;
}

.product-image {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.product-short-description {
    text-align: left !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1f1f1f;
    font-family: 'Poppins', sans-serif;

}

.product-price {
    font-size: 22px !important;
    font-weight: 600 !important;
    font-family: 'Playfair Display', serif !important;
}

.product-detail-cat {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.product-category .value {
    text-transform: uppercase !important;
}

.product-description {
    text-align: left !important;
    font-size: 16px;
    font-weight: 400 !important;
    letter-spacing: 1px;
    color: #1f1f1f;
    font-family: 'Poppins', sans-serif;
}

.product-info {
    flex: 1;
    padding: 10px 30px 30px 20px !important;
}

.product-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 10px;
}

.product-description {
    font-size: 0.875rem;
    color: #555;
    margin: 0 0 20px;
    line-height: 1.5;
}

.product-price,
.product-availability {
    font-size: 1rem;
    margin: 0 0 10px;
}

.label {
    font-weight: bold;
}

.value {
    margin-left: 5px;
}

.quantity-control {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.quantity-button {
    background-color: #000;
    color: white;
    border: 1px solid #000 !important;
    border-radius: 4px !important;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.quantity-button:hover {
    background-color: #fff;
    color: #000;
}

.btn-theme {
    width: 350px !important;
}

.product_detail_desc {
    margin-bottom: 50px !important;
}

.product_detail_desc h3 {
    margin-top: 50px;
    font-size: 25px !important;
}

.product_detail_desc {
    width: 80%;
    margin: auto;
}

.product_detail_desc ul li {
    margin: 12px !important;
    list-style: none !important;
    line-height: 1.5em;
    font-size: 16px !important;
}

.product_detail_desc ul li:before {
    content: "\f00c";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc(1.3em * -1);
    width: 1.3em;
}

.quantity-input {
    width: 60px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
    margin: 0 10px;
    font-size: 1rem;
}

.add-to-cart-button {
    background-color: #fff;
    color: #000;
    border: 1px solid #c9ab81;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    width: 40%;
}

.add-to-cart-button:hover {
    background-color: #000;
    color: #fff;
}

button.add-to-cart-button:hover {
    animation: none;
}